* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* use anywhere when you need */

.container {
  max-width: 1140px;
  margin: 0 auto;
}
.txt-clr1 {
  color: #8987a1;
}
.txt-clr2 {
  color: black;
}
.txt-clr3 {
  color: #e95a08;
}
.btn {
  background-color: #e95a08;
  color: #ffffff;
  padding: 26px 50px;
  border-radius: 10px;
}

/* header styles start here */
/* nav bar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto 0 auto;
}
.nav-items {
  display: flex;
  gap: 20px;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-link a {
  text-decoration: none;
}
/* nav end */

/* banner styles start here */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-des {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}
/* Responsive start here */
/* mobile devises */
@media screen and (max-width: 576px) {
  .nav-list {
    display: none;
  }

  span {
    font-size: 1.8rem;
    padding: 15px 10px 0px 0px;
  }
  /* banner responsive here */
  .banner {
    flex-direction: column-reverse;
  }
  .banner img {
    max-width: 100%;
  }
  .banner-texts {
    padding: 0 16px;
  }
  h3.banner-title {
    font-size: 24px;
    font-weight: 800;
  }
}
