* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}
img {
  /* max-width: 100%; */
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* use anywhere when you need */
.hidden {
  display: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
.txt-clr1 {
  color: #8987a1;
}
.txt-clr2 {
  color: black;
}
.txt-clr3 {
  color: #e95a08;
}
.btn {
  background-color: #e95a08;
  color: #ffffff;
  display: block;
  padding: 10px;
  width: 100%;
  border: none;
  font-weight: 600;
  /* padding: 26px 50px; */
  /* border-radius: 10px; */
}
.btn2 {
  background-color: #e95a08;
  color: #ffffff;
  height: 50px;
  width: 186px;
  font-weight: 600;
  border: none;
}

/* header styles start here */
/* nav bar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto 0 auto;
}
.nav-items {
  display: flex;
  gap: 20px;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-link a {
  text-decoration: none;
}
/* nav end */

/* banner styles start here */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-des {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}
/* banner end */
/* our plants start */
.plants,
.latest-detils {
  text-align: center;
  margin-bottom: 45px;
}
.plants-title,
.latest-title {
  font-size: 3.4rem;
  font-weight: 700;
}
/* our plants end */
/* cards start */
.cards-parents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}
.card {
  text-align: center;
}
.card h4 {
  font-size: 1rem;
  color: #111111;
}
.card h3 {
  font-size: 1.3rem;
  font-weight: 800;
  color: #111111;
}
/* cards ends */
/* plants-lover start here */

.plant-lover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin: 60px auto;
}

.lover-img img {
  max-width: 100%;
  display: block;
}
.lover-img {
  flex: 1;
}
.lover-texts {
  flex: 1;
}

h3.love-title {
  font-size: 3.5rem;
  font-weight: 700;
}
ul.love-list li {
  color: gray;
  padding: 10px;
}
/* plants lover end */
/* join design start */
.join {
  background-image: url(./assets/news-letter-bg.png);

  text-align: center;
  height: 533px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join img {
  width: 100%;
}
h3.join-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 20px;
}

input {
  height: 50px;
  width: 644px;
  background-color: #ffffff;
  color: #8987a1;
  border: none;
}
/* footer design */
footer {
  margin: 60px auto;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
.footer .link-parents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.footer .link-parents a {
  text-decoration: none;
  color: #8987a1;
  font-weight: 500;
}
p.footer-des {
  color: #8987a1;
  padding: 10px 0;
}
.footer-logo img {
  margin: 10px;
}
/* Responsive start here */
/* mobile devises */
@media screen and (max-width: 576px) {
  .nav-list {
    display: none;
  }

  span {
    font-size: 1.8rem;
    padding: 15px 10px 0px 0px;
  }
  /* banner responsive here */
  .banner {
    flex-direction: column-reverse;
  }
  .banner img {
    max-width: 100%;
  }
  .banner-texts {
    padding: 0 16px;
  }
  h3.banner-title {
    font-size: 24px;
    font-weight: 800;
  }
  /* our plants responsive */
  h3.plants-title,
  h3.latest-title {
    font-size: 2rem;
  }
  .plants-des,
  .latest-des {
    padding: 0 15px;
  }
  /* card responsive here */
  .cards-parents {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 5px;
  }
  .card img {
    max-width: 100%;
  }
  /* card ends */
  /* plants lover starts */
  .plant-lover {
    flex-direction: column;
    padding: 10px;
  }
  h3.love-title {
    font-size: 2rem;
  }
  /* join responsive */
  h3.join-title {
    font-size: 20px;
  }
  input[type="email"] {
    width: 270px;
  }
  .btn2 {
    width: auto;
    padding: 0 10px;
  }
  /* footer start */

  footer {
    padding: 0 15px;
  }
  .footer {
    grid-template-columns: 1fr;
  }
  .footer .link-parents {
    grid-template-columns: 1fr;
  }
}
